.welcome{
    background-color: #333;
    color: #ffffff;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #111;
}
.header {
    display: flex;
    justify-content: space-between;
}
.member{
    color: #ffffff;
    font-size:larger;
    font-weight: bold;
    display: flex;
    align-items: right;
}
.welcome-form {
    background-color: #54b4eb;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #111;
}
.note-form {
    background-color: lightblue;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #111;
}
ul {
    list-style: none;
    padding: 0;
    overflow-wrap: break-word; /* 或者使用 word-wrap: break-word; */
    max-width: 100%; /* 設定最大寬度為父元素的寬度 */
}
.spanstl a {
    color: #ffffff;
}
.spanstl{
    color: #ffffff;
    margin-left: 10px;
    font-style: italic;
    text-decoration: underline;
}
.nav-container {
    margin-top: 10px;
}
