<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>版主介紹</title>
    <link rel="stylesheet" type="text/css" href="css-founder.css">
</head>
<body>
    <form>
        <div class="headtitle">個人簡介</div>
        <div class="void-br">
          <span id="spanabout" onmouseover="changeToAbout()" onmouseout="out()" class="spantitle">關於我</span>
          <span id="spanexps" onmouseover="changeToExps()"  onmouseout="out()" class="spantitle">學經歷</span>
          <div id="about">
            <div class="aboutme">
              <img class="myimage" src="myimage.jpg">
              <br/><br/>
              大家好，我是Kevin本名叫張智凱，今年35歲。我是高雄人，後來種種原因來到新竹。預計明年農曆過年後留職停薪半年準備轉職，目前是一名自動化軟體開發工程師在竹科工作近四年半的時間。
              <br/><br/>
              渴望自己的生活可以有所突破、有所成長！改變目前的工作型態！
              <br/><br/>
              喜歡學習新知識，也喜歡與人分享！
            </div>
            <br/><br/><br/><br/><br/>
          </div>    
          <div id="exps" style="display:none">
            <div>
              <br/>
              大學和研究所都是通訊工程系畢業，研究所碩論做過影像處理覺得自己還算喜歡寫程式，後來誤打誤撞當了軟體工程師。
              畢業後因為家裡經濟因素，選擇到南科台積電當設備工程師，後續覺得工作還是要和自身的興趣不抵觸才有辦法支持下去，
              所以後來我尋求了內部轉職的管道，也順利轉換到自動化軟體整合開發部門(F14CIM)，展開了我當軟體開發工程師的路程。
              <br/><br/>
              在台積工作五年後有個契機選擇給自己休息一陣子，在蘇格蘭遊學半年享受片刻的安寧與學習英文。
              回台後選擇在新竹找工作，到目前都是擔任自動化軟體開發工程師的角色，半年前開始尋找轉職的準備與資源直到現在！
              <br/><br/>
              <div class="subtitle">工作經歷</div>
              <div class="jobtitle">
                <br/>
                <div class="frame">
                  <div class="companny">啟碁科技</div>
                  <div class="duration">2022/08 ~ Present</div>
                </div>
                <span class="position">自動化軟體工程師</span>
                <span class="small-text">現職</span>
                <div class="position">
                  工作內容：開發EAP及產品測試程式
                </div>
                <br/>
              </div>
              <div class="jobtitle">
                <br/>
                <div class="frame">
                  <div class="companny">台灣信越半導體</div>
                  <div class="duration">2019/08 ~ 2022/08</div>
                </div>
                <span class="position">系統工程師</span>
                <div class="position">
                  工作內容：工廠MES系統轉型，開發產線作業程式
                </div>
                <br/>
              </div>
              <div class="jobtitle">
                <br/>
                <div class="frame">
                  <div class="companny">台灣積體電路</div>
                  <div class="duration">2015/08 ~ 2018/08</div>
                </div>
                <span class="position">CIM工程師</span>
                <div class="position">
                  工作內容：開發代理人及報表系統
                </div>
                <br/>
              </div>
              <div class="jobtitle">
                <br/>
                <div class="frame">
                  <div class="companny">台灣積體電路</div>
                  <div class="duration">2013/12 ~ 2015/08</div>
                </div>
                <span class="position">設備工程師</span>
                <div class="position">
                  工作內容：維護機台
                </div>
                <br/>
              </div>
            <br/>
            <div class="subtitle">學歷</div>
              <div class="jobtitle">
                <br/>
                <div class="frame">
                  <div class="companny">中興大學</div>
                  <div class="duration">2年</div>
                </div>
                <span class="position">通訊工程學系</span>
                <span class="small-text">碩士</span>
                <div class="position">
                  論文題目: 非監督式多發性硬化症偵測和分類方法在腦部核磁共振成像 <a href="https://ndltd.ncl.edu.tw/cgi-bin/gs32/gsweb.cgi/login?o=dnclcdr&s=id=%22101NCHU5650012%22.&searchmode=basic" target="_blank">論文連結</a>
                </div>
                <br/>
              </div>
              <div class="jobtitle">
                <br/>
                <div class="frame">
                  <div class="companny">元智大學</div>
                  <div class="duration">4年</div>
                </div>
                <span class="position">通訊工程學系</span>
                <span class="small-text">學士</span>
              </div>
              <br/>
          </div>
        </div>
      </div>
      <div><a href="/welcome">回會員頁面</a></div>
    </form>
    <script src="myscript.js"></script>
</body>
</html>