<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員頁面</title>
    <link rel="stylesheet" type="text/css" href="welcome.css">
</head>
<body>
    <h2>歡迎光臨會員頁面</h2>
    <br>
    <form class="welcome-form">
        <div class="member">您好，{{ session["nickname"] }} 
            <span class="spanstl"><a href="/signout">登出</a></span>
        </div>
        <br>
        <div><a href="/founder">版主資訊</a></div>
        <div><a href="/createnote">新增筆記</a></div>
    </form>
    <br>
    <form class="note-form">
        <h3>資料庫紀錄內容</h3>
        <ul>
            {% for note in notes_from_db %}
            <li><strong>{{ note.title }}</strong>: {{ note.content }}</li>
            <br>
            {% endfor %}
        </ul>
    </form>
    <br>
    <form class="note-form" action="/doaction_note" method="POST">
        <h3>筆記列表</h3>
        <ul>
            {% for note in notes %}
                <li><strong>{{ note.title }}</strong>: {{ note.content }}</li>
                <br>
            {% endfor %}
        </ul>
        <button type="submit" name="action" value="save" onclick="return confirmAction('確定要儲存到資料庫嗎？')">儲存到資料庫</button>
        <button type="submit" name="action" value="clear" onclick="return confirmAction('確定要清除資料嗎？')">清除資料</button>
    </form>
</body>
<script>
    function confirmAction(message) {
        return confirm(message);
    }
</script>
</html>